
.container{
  background-color:white;
  width: 400px;
  height:433px;
  display: flex;
  font-size:medium;
  padding: 0.5rem 1.5rem;
  margin-left: 530px;
  margin-top:-495px;
}
h1{
	font-size: 30px; 
	align-items: center;
	margin-left: 40px;
	margin-top: 40px;

}
.details{
	font-size: 15px; 
	align-items: right;
	margin-left: -100px;
	margin-top: 40px;
	
}
.Pic img {
	position:relative;
	width:450px;
	height:450px;
	padding-bottom: 20px;
	padding-top:3px;
	margin-bottom: 9px;
	bottom: 12px;
	right: 37px;
	padding-left: 125px;
	margin-top: 90px;
	
}
table{
	margin-left: -80px;
}

.Status{
background-color:white;
  width: 80px;
  height:75px;
  display: flex;
  font-size:medium;
  padding: 0.5rem 1.9rem;
  margin-top: 330px;
  margin-left: -20px;
 
}
h2{
font-size: 30px; 
	align-items: center;
	margin-left: 40px;
	margin-top: 230px;
}

body {
background:url(/Images/BgPic.jpg);
background-position: center;
background-size: cover;
width:90%;
height:650px;
margin-left: 10px;
background-repeat: no-repeat;
	
}
th{
	background-color:#008000;
    width:90px;
}

